DOCKERHUB_USERNAME=your_dockerhub_username
DOCKERHUB_TOKEN=your_dockerhub_access_token
DOCKERHUB_IMAGE_NAME=qbit-telegram-bot
DOCKERHUB_LATEST_TAG=latest
DOCKERHUB_HTTP_PROXY=
DOCKERHUB_HTTPS_PROXY=
DOCKERHUB_ALL_PROXY=
