DOCKERHUB_USERNAME=your_dockerhub_username
DOCKERHUB_TOKEN=your_dockerhub_access_token
DOCKERHUB_IMAGE_NAME=qbit-telegram-bot
DOCKERHUB_LATEST_TAG=latest
DOCKERHUB_HTTP_PROXY=http://127.0.0.1:7897
DOCKERHUB_HTTPS_PROXY=http://127.0.0.1:7897
DOCKERHUB_ALL_PROXY=socks5://127.0.0.1:7897
