UNRAID_HOST=192.168.50.46
UNRAID_PORT=12322
UNRAID_USER=root
UNRAID_APPDATA_DIR=/mnt/user/appdata/qbit-telegram-bot
UNRAID_COMPOSE_PROJECT_DIR=/boot/config/plugins/compose.manager/projects/qbit-telegram-bot
UNRAID_DOCKER_IMAGE_REPO=furyth666/qbit-telegram-bot
UNRAID_SSH_KEY=~/.ssh/qbit_unraid_ed25519
